.dashboard-container{
    background-color: #0055b3;
    height:100vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
*{
    padding: 0%;
    margin: 0%;
}
.menu{
    width: 20%;
 background-color: #ffffff;
 margin:5px;
}
.principal{
    width: 80%;
    background-color: #ffffff;
    margin:5px;
    padding: 5px;
}
table{
    width: 100%;
   border-collapse:collapse;
   
}
td{
    border: solid 0.5px #adb9d3;
}
.botoes:hover{
    cursor: pointer;
    background-color: silver;
    
}
