.dashboard-container{
    background-color: #6d838d;
    height:100vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}
*{
    padding: 0%;
    margin: 0%;
}
.menu{
    width: 20%;
 background-color: #ffffff;
 margin:5px;
}
.principal{
    width: 80%;
    background-color: #ffffff;
    margin:5px;
}